 <html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
  integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />


<body onload="myFunction()">
  <style>
    .form-group.required .control-label:after {
      content: "* ";
      color: red;
    }

    p {
      margin: 0px 0px 0px;
    }

    #display-stack-tab, #create-cluster-tab, #logout {
      padding: 8px 10px;
      background-color: #6988E7;
      border-color: #6988E7;
      white-space: normal;
      color: white;
      letter-spacing: 0.2px;
    }

    #display-stack-tab:hover, #create-cluster-tab:hover, #logout:hover {
      border-color: white !important;
      color: white;

    }
  </style>

  <div class="jumbotron px-2" style="background-color:RoyalBlue;color:white;  margin: 0 auto">
    <h1 class=" display-3">Openshift on Power</h1>
    <p>Build your own Openshift Container Platform Cluster on Power</p>
  </div>
  <nav class="navbar navbar-expand-xl" style="background-color:#6988E7; margin: 0 auto; padding-left: 10px">

    <form class="form-inline my-2 my-lg-0">
      <div class="form-group required pt-md-3 d-none">
        <label class="control-label" for="emailid"><b>Login Email</b></label>
        <input type="text" class="form-control" id="loginemailid" name="emailid" placeholder="Emailid">
      </div>
      <button id="create-cluster-tab" formaction="/create" formmethod="post" class="btn btn-light " type="submit"> <svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-plus"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z" />
          <path
            d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
        </svg> Create
        Cluster</button>
      <button id="display-stack-tab" formaction="/refresh" formmethod="post" class="btn btn-light" type="submit"> <svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stack"
          viewBox="0 0 16 16">
          <path
            d="M14.12 10.163l1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z" />
          <path
            d="M14.12 6.576l1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z" />
        </svg> List Clusters</button>
      <button id="logout" formaction="/" formmethod="get" class="btn btn-light" type="submit"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
        </svg> Logout</button>
    </form>

  </nav>

  </br>
  <div class="row px-4">
    <div class="col-sm-4 px-4">
      <form method="post" id="input-form" name="input-form" action="/deploy" class="needs-validation ">
        <div class="form-group required pt-md-3  d-none">
          <label class="control-label" for="emailid"><b>Login Email</b></label>
          <input type="text" class="form-control" id="emailid" name="emailid" placeholder="Emailid">
        </div>
        <div class="form-group required pt-md-3">
          <label class="control-label" for="name"><b>Cluster Name</b></label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter cluster name" required>
        </div>
        <div class="form-group required pt-md-3">
          <label class="control-label" for="description"><b>Description</b></label>
          <input type="text" class="form-control" id="description" name="description"
            placeholder="Enter a short description" required>
        </div>
        <div class="form-group required pt-md-3">
          <label class="control-label" for="version"><b>Select Version</b></label> <br />
          <select class="form-select" id="ocpversion" name="ocpversion" required>
            <option selected disabled value="">Choose OCP version</option>
            <option value="4.5">4.5</option>
            <option value="4.6">4.6</option>
          </select>
        </div>
        <div class="form-group required pt-md-3">
          <label class="control-label" for="version"><b>Select Platform</b></label> <br />
          <select class="form-select" id="platform" name="platform" required>
            <option selected disabled value="">Choose Cloud Platform</option>
            <option value="PowerVM">PowerVM</option>
          </select>
        </div>
        <div class="form-group py-md-3">
          <label for="name"><b>Cluster Size</b></label><br />

          <input type="radio" class="btn-check" name="options" id="medium" autocomplete="off" value="medium" checked />
          <label class="btn btn-outline-info " for="medium" id="medium">Medium</label>
          <input type="radio" class="btn-check" name="options" id="large" value="large" autocomplete="off" />
          <label class="btn btn-outline-info " for="large" id="large">Large</label>
        </div>
        <br />
        <button id="create-cluster" type="submit" class="btn-primary px-4" style="width:500px;">Create Cluster</button>
      </form>
    </div>

    <div class="col-sm-8 px-4" style="width: 700px;">
      <div class="card " id="medium-card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Medium</h5>
          <h6 class="card-subtitle mb-2 text-muted">Create a medium sized cluster</h6>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Node</th>
                <td>Masters</td>
                <td>Workers</td>
              </tr>
              <tr>
                <th scope="row">#</th>
                <td>3</td>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">Processors</th>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">Memory</th>
                <td>32GB</td>
                <td>32GB</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card " id="large-card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Large</h5>
          <h6 class="card-subtitle mb-2 text-muted">Create a large sized cluster</h6>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Node</th>
                <td>Masters</td>
                <td>Workers</td>
              </tr>
              <tr>
                <th scope="row">#</th>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">Processors</th>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">Memory</th>
                <td>32GB</td>
                <td>64GB</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br />

    </div>
    <br />
    <div class="col-sm-4 px-4">
      <div class="alert alert-success" role="alert" style="width:500px;">
        Cluster creation is in progress
        <div class="spinner-border text-success" role="status">
        </div>
      </div>
    </div>

  </div>

  <script>
    $('.alert').hide();
    $('#large-card').hide();
    $('#create-cluster-tab').attr('disabled', true);

    $('.btn-outline-info').on('click', function () {
      if ($(this).attr('id') == "medium") {
        $('#large-card').hide();
        $('#medium-card').show();
      }
      else if ($(this).attr('id') == "large") {
        $('#medium-card').hide();
        $('#large-card').show();
      }
    });

    // On submit event
    $('#input-form').on('submit', function () {
      //DDisplay cluster creation message if required fields are not empty
      if (document.forms["input-form"]["name"].value != "" &&
        document.forms["input-form"]["description"].value != "" &&
        document.forms["input-form"]["ocpversion"].value != "") {
        $('.alert-success').show();
      }
      return true;
    });

    var data = '{{ js_data|safe }}';
    obj = JSON.parse(data);

    function myFunction() {
      document.getElementById("emailid").value = obj.emailid;
      document.getElementById("loginemailid").value = obj.emailid;
    }  
  </script>
</body>

</html>
